<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
    <title>Session History</title>
</head>

<body>
    <div class="main-div">
        <a href="{{ url_for('home') }}">Back to timer</a>
        <h1>History</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Session</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td>{{ session[0] }}</td>
                    <td>{{ session[1] }}</td>
                    <td>{{ session[2] | get_natural_date }}</td>
                    <td>{{ session[3] | get_natural_date }}</td>
                    <td>{{ (session[2] ~ "," ~ session[3]) | get_date_diff }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</body>