<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/timer.js" defer></script>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to sessions!</h1>
    <div class="timer">
        <div id="display">25:00</div>
        <button id="start-button">Start</button>
        <button id="reset-button">Reset</button>
    </div>
</body>
</html>